/* h1,a,p{
    background-color: red;
    color: yellow;
} */

div{
    /* background-color:lightyellow; */
    /* background-color: rgb(100, 255, 200); */
    /* background-color: rgba(255, 0, 0, 0.8); */
    /* background-color: #f6a; */
    /* background-color: #0fac56; */
    background-color:hsl(0, 100%, 50%); ;
}
span{
    background-color: aqua;
}
#divison{
    width: 200px;
    height: 100px;
}

